.studioLayout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .content {
        flex: 1;
        padding: 20px;
        max-width: 1400px;
        margin: 0 auto;
        width: 100%;
    }
}
