.task-modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.35);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.task-modal {
    width: 550px;
    background: white;
    border-radius: 14px;
    padding: 25px 30px;
    box-shadow: 0 8px 30px rgba(0,0,0,0.15);
    animation: popup 0.25s ease;
}

@keyframes popup {
    from { transform: scale(0.9); opacity: 0 }
    to { transform: scale(1); opacity: 1 }
}

.modal-header {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 12px;
    margin-bottom: 20px;
}

.grid-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px 20px;
    font-size: 14px;
    margin-bottom: 20px;
}

.desc-box, .special-box {
    padding: 13px;
    border-radius: 10px;
    font-size: 14px;
    margin-bottom: 18px;
}

.desc-box {
    background: #f3f3f3;
}

.special-box {
    background: #fff8d5;
    border: 1px solid #ffeb99;
}

.file-section {
    margin-top: 15px;
    margin-bottom: 20px;
}

.file-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f8f8f8;
    border-radius: 10px;
    padding: 10px 14px;
    margin-bottom: 10px;
}

.file-name {
    font-size: 14px;
}

.btn-download {
    background: black;
    color: white;
    padding: 6px 12px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    transition: 0.15s;
}

/* EFFECT KHI MOCK */
.btn-download.mock {
    opacity: 0.6;
}
.btn-download.mock:active {
    transform: scale(0.92);
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
}

.btn-outline {
    padding: 8px 14px;
    border: 1px solid black;
    border-radius: 8px;
    background: white;
    cursor: pointer;
}

.btn-black {
    padding: 8px 14px;
    background: black;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}
